.ParentPartie3 {
    background-color: #EDD0A5;
}

.ParentPartie5 {
    background-color: #EDD0A5;
}

.ParentPartie6 {
    background-color: #EDD0A5;
}

.ParentPartie2 {
    background-color: transparent;
}

.ParentPartie4 {
    background-color: transparent;
}

.ParentPartie1 {
    background-color: transparent;
}